apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
        - name: app
          image: <AWS_ECR_URL>/product-service:latest
          ports:
            - containerPort: 5000
          env:
            - name: TOKEN_ADMIN
              valueFrom:
                secretKeyRef:
                  name: admin-token
                  key: TOKEN_ADMIN
